.notification {
  background-color: #f0f8ff;
  border: 3px solid #b0e0e6;
  color: #4682b4;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.notification.success {
  background-color: #d4edda;
  border-color: #068223;
  color: #155724;
}

.notification.error {
  background-color: #f8d7da;
  border-color: #d9081d;
  color: #721c24;
}

button {
  background-color: #4682b4;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: #309af1 0px 0px 5px;
}

input {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}